<head>
    <meta charset="utf-8">
    <meta name="description" content="HomeCloud OneAuth">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <title><%- title %> | HomeCloud OneAuth</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>