<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <title><%- title %> | HomeCloud OneAuth</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>