<div id="top" class="base-light">
    <div>
        <a class="center" href="/" style="max-width: fit-content;">
            <img src="/icons/icon@0.5x.png" class="icon"/>
            <div class="size-s" style="padding-left: 0.2rem;">
                OneAuth
            </div>
             
            </a>
    </div>
</div>
<style>
    #top {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 0.7rem 1rem;
        background: rgba(255, 255, 255, 0.304);
        z-index: 100;
        color: rgba(0, 0, 0, 0.556);
    }
    #top > div {
        max-width: 1000px;
        margin: auto;
    }
</style>