@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 5% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 240 5% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    color-scheme: dark;
    --background: 0 0% 18%;
    --foreground: 28 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 27 5.7% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 5% 11.2%;
    --secondary: 217.2 2.1% 24%;
    --secondary-foreground: 210 40% 98%;
    --muted: 20 2.6% 29.9%;
    --muted-foreground: 15 2.8% 65.1%;
    --accent: 20 2.6% 29.9%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 20 2.6% 25%;
    --input: 20 2.6% 25%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .home-bg {
    background-image: radial-gradient(at 37% 41%, rgb(236, 252, 203) 0, transparent 49%), radial-gradient(at 43% 72%, rgb(186, 230, 253) 0, transparent 44%), radial-gradient(at 7% 77%, rgb(233, 213, 255) 0, transparent 21%), radial-gradient(at 69% 48%, rgb(224, 242, 254) 0, transparent 44%), radial-gradient(at 56% 36%, rgb(244, 244, 245) 0, transparent 13%), radial-gradient(at 17% 17%, rgb(254, 205, 211) 0, transparent 42%);

  }

  .app-dragable {
    -webkit-app-region: drag;
    app-region: drag;
  }

  .app-nodrag {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }

  .app-titlebar {
    position: fixed;
    top: 0;
    /* env(titlebar-area-y, 0)*/
    height: env(titlebar-area-height, 50);
    left: env(titlebar-area-x, 0);
    width: env(titlebar-area-width, 100%);
  }

  .app-titlebar-space-start {
    width: env(titlebar-area-x, 0);
  }

  .app-titlebar-space-end {
    width: calc(100% - env(titlebar-area-x, 0) - env(titlebar-area-width, 100%));
  }

  .win11-selected {
    position: relative;
    border: none;
  }

  .win11-selected::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 3px;
    height: 60%;
    width: 3px;
    background-color: hsl(var(--primary));
    border-radius: 10px;
  }

  button,
  a {
    cursor: default;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    @apply select-none;
  }
}

@custom-variant dark (&:where(.dark, .dark *));