<!doctype html>
<html>
    <%- include('../blocks/head', {title: 'Create App'}); %>
<body>
    <%- include('../blocks/header'); %>
    <div class="container">
        <br/>
        <a href="/manage" class="link">&larr; Account</a>
        <br/>
        <hr/>
        <br/>
        <div class="base-regular ink-orange size-m">New app</div>
        <div>
            <form id="createForm">
                <input type="text" name="name" placeholder="App name" />
                <input type="text" name="description" placeholder="Description" />
                <input type="text" name="redirectOrigins" placeholder="Redirect origins (comma seperated)" />
            </form>
            <div id="message" class="size-xs ink-red"></div>
            <button style="width: 10rem; max-width: 95%; padding: 0.6rem;" onclick="createApp()">Create</button>
        </div>

    </div>
</body>

</html>

<script>
    async function createApp() {
        const form = document.getElementById('createForm');
        const formData = new FormData(form);
        const payload = {
            name: formData.get('name') || '',
            description: formData.get('description') || '',
            redirectOrigins: (formData.get('redirectOrigins') || '').split(','),
        }
        console.log('form data: ', payload);
        try {
            const res = await fetch('/api/app/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload),
            });
            if(res.status !== 200) throw new Error('Something went wrong');
            const data = await res.json();
            console.log('create app response: ', data);
        } catch (err) {
            console.log('error: ', err);
            document.getElementById('message').innerHTML = err.message;
            return;
        }
        window.setTimeout(() => {
            window.location.href = '/manage';
        }, 200);
    }
</script>
