# Unused source files
/src/
.github
tsconfig.json

# Everything else should keep same with .gitignore
*.swp
*.zip

yarn.lock
package-lock.json
npm-debug.log
/node_modules/
/out/
/test/
.package.tmp.json
package-info.txt

# Ignore all .env files
.env
.env.*
src/.env.tmp.js

# Debug generated data
Debug/
Debug.log
