<!doctype html>
<html>
<%- include('blocks/head', {title: 'Page not found' }); %>

    <body>
        <%- include('blocks/header'); %>
            <div id="main" class="center-col">
                <div class="base-light size-xxl ink-grey">404</div>
                <div class="center size-l base-semibold ink-black" id="txt">
                    The page you're looking for can't be found.
                </div>
            </div>

    </body>

</html>
<style>
    #main {
        min-height: 90vh;
        padding: 1.2rem;
    }

    #txt {
        max-width: 30rem;
    }
</style>