<!doctype html>
<html>

<%- include('blocks/head', {title: 'Error' }); %>

  <body>
    <%- include('blocks/header'); %>
      <div class="center-col ink-dark" style="padding-top: 4rem;">
        <div style="width: 3rem;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
          </svg>          
        </div>
        <h1 class="center base-light size-m">Ah! An Error Occured</h1>
        <br />
        <div class="base-semilight ink-black size-s"><%- error %></div>
        <br />
        <div class="base-light size-xs">Code: <%- code %></div>
      </div>
  </body>

</html>
